<?xml version="1.0" encoding="utf-8"?>
<Root>
  <!--请求地址-->
  <SummitUrl> https://payment.opay.tw/Cashier/AioCheckOut/V5</SummitUrl>
  <!--HashKey-->
  <!--5294y06JbISpM5x9测试-->
  <MerchantID>7RswcwBgLcqnMjy5</MerchantID>
  <!--特店編號-->
  <!--2000132测试-->
  <merID>1038690</merID>
  <!--HashIV-->
  <!--v77hoKGq4kWxNNIS测试-->
  <TerminalID>IA0pz3lNuyui52iZ</TerminalID>
  <!--頁面跳轉同步返回分頁檔路徑-->
  <return_url>/api/payment/firstcode/return_url.aspx</return_url>
  <!--伺服器通知的分頁檔路徑-->
  <notify_url>/api/payment/firstcode/notify_url.aspx</notify_url>
</Root>